<header>
  <div class="site-header">
    <div class="logo">
      <a href="/">CSE Motors</a>
    </div>
    <div class="account-link">
      <a href="/account">My Account</a>
    </div>
  </div>
</header>